
/* Bootstrap Redefinitions */
.text-light{
  color: var(--light)
}

.text-dark{
  color: var(--dark);
}

.text-primary{
  color: var(--primary) !important;
}

.display-big{
  font-size: 7rem;
}

.btn:focus{
  box-shadow: none;
}

.btn-primary{
  background: var(--primary);
  border: none;
}

.btn-primary:hover{
  background: var(--primary);
}