.task{
    border-bottom: 2px solid var(--primary);
    width: 100%;
}

.task-btn{
    color: var(--light) !important;
}

.completed{
    color: var(--primary) !important;
}

.task-notes{
    margin-left: 1rem;
    padding-left: .5rem;
    border-left: 2px solid var(--primary);
}